# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#npm grunt bower yeoman
bower_components/
node_modules/
dist/

#ship s3 credentials
ship.conf
