.fadein { 
	position:relative; 
	width: 100%;
	height: 100%;
	div {
		position:absolute; 
		left:0; 
		top:0; 
		width: 100%;
		height: 100%;
		background-size: cover;
		
		// opacity: 0;
		-webkit-transition: opacity 1s;
		-moz-transition: opacity 1s;
		transition: opacity 1s;
	}
}

.bicontrols {
	font-family: FontAwesome;
	position: absolute;
	bottom: 5vh;
	left: 50%;
	transform: translateX(-50%);
	span {
		position: relative;
		margin: 10px;
		cursor: pointer;
	}
	.biplaypause {
		font-size: 85%;
	}
	.bipause:before {
		content: "\f04c";
	}
	.biplay:before {
		content: "\f04b";
	}
}